* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.woff") format("woff"), url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE") format("svg"), url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"), url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'COCOGOOSE-LETTERPRESS';
  src: url("../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.woff") format("woff"), url("../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.svg#COCOGOOSE-LETTERPRESS") format("svg"), url("../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.eot"), url("../webfonts_COCOGOOSE-LETTERPRESS/COCOGOOSE-LETTERPRESS.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --coco: 'COCOGOOSE', 'arial', sans-serif;
  --letterpress: 'COCOGOOSE-LETTERPRESS', 'arial', sans-serif;
  --lato: 'Lato', 'arial', sans-serif;
}

.fa {
  color: #272a31;
  font-size: 3.125rem;
}

#hamburger {
  font-size: 2.5rem;
  background-position: right;
}

.page-landing {
  background-image: url('Images/mobile_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  background-repeat: no-repeat;
  background-position: right;
  background-position: right 25%;
}

.nav-bar {
  background-color: #ec5242;
}

header {
  margin-top: 6.4rem !important;
}

.welcome {
  font-family: var(--letterpress);
  color: #ec5242;
}

.title {
  font-family: var(--coco);
}

.tournament-description {
  border: 3px solid #fff;
  background-color: #f9f9fa;
  font-size: 0.88rem !important;
}

.tournament-description p {
  font-family: var(--lato);
}

.header h1 {
  background-image: url('Images/Cropped2.jpg');
  background-position: bottom center;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 1.55rem !important;
}

.header h2 {
  background-color: transparent;
}

.date {
  font-size: 1.35rem;
  font-family: var(--coco);
}

.venue {
  font-family: var(--lato);
}

.main-program {
  background-image: url('Images/Small-square.png');
  padding: 2.25rem 0.75rem;
}

.danger {
  height: 0.188rem !important;
  width: 11.5%;
  background-color: #ec5242;
  margin: 0.75rem auto 1.5rem auto;
  opacity: 1;
}

.highlights {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-ball::before {
  content: "\f1e3";
  font-size: 1.15rem;
  color: #f9f9fa;
}

.icon-team::before {
  content: "\f183";
  font-size: 1.25rem;
  color: #f9f9fa;
}

.icon-stadium::before {
  content: "\f015";
  font-size: 1.25rem;
  color: #f9f9fa;
}

.highlight-iteration {
  color: #ec5242;
  font-size: 1.15rem;
  font-family: var(--lato);
}

.highlight-iteration-text {
  font-size: 0.88rem;
  font-family: var(--lato);
}

.ticket-link {
  background-color: #ec5242;
  font-size: 1.35rem;
}

.partner-header {
  font-family: var(--coco);
}

/* Styling for Mobile About section */

.inquiry {
  font-size: 0.81rem;
  font-family: var(--lato);
}

.email-link {
  color: #272a31;
  font-family: var(--letterpress);
  font-size: 0.78rem;
  margin: 0 auto !important;
}

.logo a,
.logo2 a {
  background-image: url('Images/orange-background.jpeg');
  background-position: bottom center;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-family: var(--coco);
  font-size: 0.88rem;
  text-indent: 0.44rem;
}

.logo2 a {
  font-size: 1.5rem;
  text-indent: 3.7rem;
}

#arena,
#arena2,
#arena3 {
  font-family: var(--letterpress);
  font-size: 1.25rem;
  letter-spacing: 0.188rem;
  line-height: 0 !important;
}

#arena2 {
  font-size: 1.75rem;
  letter-spacing: 0.7rem;
}

.past {
  position: relative;
  background-color: #ec5242;
  margin: 0 3rem;
}

.past-champions {
  width: 100%;
  opacity: 0.48;
  mix-blend-mode: multiply;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: var(--coco);
  font-size: 1.75rem;
}

.winners {
  text-align: start;
}

.sponsors-div {
  background-color: #272a31;
}

.sponsor-images {
  width: 5.63rem;
  filter: sepia(1) !important;
}

/* Styling for mobile About Page ends here  */

/* Styling for the Mobile Menu */

.menu-hidden {
  display: none;
}

.menu-content {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 1.88rem;
  background-image: url("Images/mobile_bg.png");
  background-size: cover;
}

.menu-link {
  font-size: 1.5rem;
  font-family: var(--letterpress);
  color: #ec5242;
  border-bottom: 5px solid #272a31;
  padding: 15px 10px;
}

.close::before {
  content: "\f057";
  font-size: 30px;
  color: #062e8e;
}

/* Styling for the mobile menu ends here */

/* Styling for the Top Players Section */

.img-player {
  width: 100%;
  height: 75%;
}

.player-name {
  font-family: var(--coco);
  font-size: 1.3rem !important;
}

.player-country {
  font-family: var(--lato);
  font-size: 1rem !important;
  color: #ec5242;
}

.player-description {
  font-size: 0.88rem !important;
  font-family: var(--lato);
}

/* Styling for the Top Players Section ends here */

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    text-decoration: none !important;
    cursor: pointer;
  }

  a:hover {
    color: #ec5242 !important;
  }

  a:focus {
    color: #ec5242 !important;
  }

  .desktop-nav {
    padding: 0 !important;
  }

  .top-nav-bar {
    background-color: #272a31;
  }

  .icon-facebook::before {
    content: "\f09a";
    color: #fff;
    font-size: 0.81rem;
  }

  .icon-twitter {
    content: "\f099";
    color: #fff;
    font-size: 0.81rem;
  }

  .top-nav-item {
    font-size: 0.7125rem;
    font-family: var(--lato);
  }

  .orange-border {
    border: 3px solid #ec5242;
  }

  .logo a {
    background-image: url('Images/orange-background.jpeg');
    background-position: bottom center;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: var(--coco);
    font-size: 0.88rem;
    text-indent: 0.44rem;
  }

  #arena {
    font-family: var(--letterpress);
    font-size: 1.25rem;
    letter-spacing: 0.188rem;
    line-height: 0 !important;
  }

  .links-container {
    width: 65%;
  }

  .links-container a {
    color: #d3d3d3 !important;
  }

  .links-container a:link {
    color: #ec5242 !important;
  }

  .links-container a:hover {
    color: #ec5242 !important;
    border: 3px solid #ec5242 !important;
    padding: 0.5rem 3rem;
    border-radius: 4px;
  }

  .links-container a:focus {
    color: #ec5242 !important;
    border: 3px solid #ec5242 !important;
  }

  .links-container a:active {
    color: #ec5242 !important;
    border: 3px solid #ec5242 !important;
  }

  .page-landing {
    background-image: url('Images/Desktop-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    margin-top: 7.4rem !important;
  }

  header h1 {
    word-break: break-all;
  }

  .ticket-link {
    background-color: #272a31;
    font-size: 1.15rem;
  }

  .image-container {
    gap: 1.5rem !important;
  }

  .past {
    margin: 0;
  }

  .footer-div {
    gap: 1.15rem;
    background-color: #272a31;
    color: #fff;
  }

  .tournament-description {
    padding: 2rem 4.5rem;
  }

  .inquiry {
    padding: 2rem 5rem !important;
  }

  .footer-div-home {
    gap: 1.15rem;
    background-color: #fff;
    color: #272a31;
  }
}
